<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>br.com.bruno.filter.NewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ServletSaveAssunto</servlet-name>
        <servlet-class>br.com.bruno.servlets.ServletSaveAssunto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDelAssunto</servlet-name>
        <servlet-class>br.com.bruno.servlets.ServletDelAssunto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSaveNoticia</servlet-name>
        <servlet-class>br.com.bruno.servlets.ServletSaveNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAssuntoQuery</servlet-name>
        <servlet-class>br.com.bruno.servlets.ServletAssuntoQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletNoticiaQuery</servlet-name>
        <servlet-class>br.com.bruno.servlets.ServletNoticiaQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>br.com.bruno.servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSaveServlet</servlet-name>
        <servlet-class>br.com.bruno.servlets.UserSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>br.com.bruno.servlets.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDeletaNoticia</servlet-name>
        <servlet-class>br.com.bruno.servlets.ServletDeletaNoticia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSaveAssunto</servlet-name>
        <url-pattern>/ServletSaveAssunto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDelAssunto</servlet-name>
        <url-pattern>/ServletDelAssunto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSaveNoticia</servlet-name>
        <url-pattern>/ServletSaveNoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAssuntoQuery</servlet-name>
        <url-pattern>/ServletAssuntoQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletNoticiaQuery</servlet-name>
        <url-pattern>/ServletNoticiaQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSaveServlet</servlet-name>
        <url-pattern>/UserSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/UserDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDeletaNoticia</servlet-name>
        <url-pattern>/ServletDeletaNoticia</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
