<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>br.com.bruno.filter.NewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ServletSavAssunto</servlet-name>
        <servlet-class>br.com.bruno.servlets.ServletSavAssunto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDelAssunto</servlet-name>
        <servlet-class>br.com.bruno.servlets.ServletDelAssunto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSavNoticia</servlet-name>
        <servlet-class>br.com.bruno.servlets.ServletSavNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetAssunto</servlet-name>
        <servlet-class>br.com.bruno.servlets.ServletGetAssunto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGetNoticia</servlet-name>
        <servlet-class>br.com.bruno.servlets.ServletGetNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>br.com.bruno.servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSavUsuario</servlet-name>
        <servlet-class>br.com.bruno.servlets.ServletSavUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDelUsuario</servlet-name>
        <servlet-class>br.com.bruno.servlets.ServletDelUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDelNoticia</servlet-name>
        <servlet-class>br.com.bruno.servlets.ServletDelNoticia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSavAssunto</servlet-name>
        <url-pattern>/ServletSavAssunto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDelAssunto</servlet-name>
        <url-pattern>/ServletDelAssunto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSavNoticia</servlet-name>
        <url-pattern>/ServletSavNoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetAssunto</servlet-name>
        <url-pattern>/ServletGetAssunto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGetNoticia</servlet-name>
        <url-pattern>/ServletGetNoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSavUsuario</servlet-name>
        <url-pattern>/ServletSavUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDelUsuario</servlet-name>
        <url-pattern>/ServletDelUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDelNoticia</servlet-name>
        <url-pattern>/ServletDelNoticia</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
